@font-face {
    font-family: 'Kalam';
    font-style: normal;
    font-weight: normal;
    src: url(font/Kalam-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Kalam';
    font-style: normal;
    font-weight: bold;
    src: url(font/Kalam-Bold.ttf) format('truetype');
}
body {
    background: url(img/background.jpg);
    font-family: Kalam, Georgia, Times New Roman, serif;
    font-size: 2.5vw;
    color: #eee;
}
hr {
    margin: 5vw 3vw;
    border: 0;
    border-top: 0.2vw solid rgba(0, 0, 0, 0.5);
    border-bottom: 0.2vw solid rgba(255, 255, 255, 0.5);
}
.score {
    text-align: center;
    font-size: 10vw;
    margin: 3vw;
}
.hand, .slots {
    display: flex;
    flex-wrap: wrap;
}
.card {
    width: 80%;
    height: 80%;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    color: #333;
    margin: 5px;
    border-radius: 5.3%;
    position: relative;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f7f7f7+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #f7f7f7 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f7f7f7 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffffff 0%,#f7f7f7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */
}
.card .center {
    font-size: 10vw;
}
.card .top-left {
    position: absolute;
    left: 5%;
    top: 3%;
    font-size: 2vw;
}
.card .bottom-right {
    position: absolute;
    right: 5%;
    bottom: 3%;
    font-size: 2vw;
}
.card.moving {
    transform: scale(1.05, 1.05) !important;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.9);
}
.slot {
    width: calc(25% - 12px);
    padding-bottom: calc(37.5% - 18px);
    position: relative;
    margin: 5px;
}
.slot-container {
    flex-grow: 1;
    margin: 5px;
}
.slot-container .direction {
    text-align: center;
}
.slot-container .direction img {
    width: 8vw;
}
.slot-container .slot {
    width: calc(100% - 10px - 1vw);
    padding-bottom: calc(150% - 18px);
    border-radius: 5vw;
    border: 0.5vw solid rgba(0, 0, 0, 0.5);
}
.hand .slot .card {
    cursor: pointer;
}
.slot .card {
    position: absolute;
    top: 10%;
    left: 10%;
}
