<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1 maximum-scale=1 user-scalable=0 target-densitydpi=device-dpi minimal-ui" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>Up & Down</title>
    <link href="app.css" rel="stylesheet" />
</head>
<body>
    <div id="game">
        <div v-cloak class="loading"><div>loading...</div></div>
        <div v-cloak class="game-over" v-show="game.isGameOver()">
            <div>
                <div v-if="game.isWon()">You Won!</div>
                <div v-else>Game Over</div>
                <div class="actions">
                    <img src="img/restart.png" alt="restart" @click="game.restart()" />
                </div>
            </div>
        </div>
        <div v-cloak class="container menu" v-show="visibleContainer == 'menu'">
            <div>
                <h1>Up & Down</h1>
                <ul>
                    <li @click="game.restart(); showGame()">Neues Spiel</li>
                    <li v-show="game.isRunning()" @click="showGame()">Spiel fortsetzen</li>
                    <li @click="showHighscore()">Highscore</li>
                </ul>
            </div>
        </div>
        <div v-cloak class="container highscore" v-show="visibleContainer == 'highscore'">
            <div>
                <h2>Highscore</h2>
                <ul>
                    <li v-for="rank in game.highscore().all()">
                        <span class="score" v-text="rank.score"></span> <span class="date" v-text="'- ' + rank.date"></span>
                    </li>
                </ul>
                <div class="actions">
                    <img src="img/back.png" alt="back" @click="showMenu()" />
                </div>
            </div>
        </div>
        <div v-cloak class="container game" v-show="visibleContainer == 'game'">
            <div class="menu-button" @click="showMenu()"><img src="img/menu.png" alt="menu" /></div>
            <h2 class="game-score" v-text="game.score()+' cards left'"></h2>
            <div class="slots">
                <div class="slot-container">
                    <div class="direction"><img src="img/up.png" alt="UP" /></div>
                    <div class="slot slot_0" @mousedown="dropCard(0)">
                        <div class="card" v-for="(card, index) in game.slot(0).cards" v-bind:style="{ transform: 'rotate(' + card.rotation + 'deg)' }">
                            <div class="flipper">
                                <div class="front">
                                    <div class="top-left" v-text="card.value"></div>
                                    <div class="center" v-text="card.value"></div>
                                    <div class="bottom-right" v-text="card.value"></div>
                                </div>
                                <div class="back"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slot-container">
                    <div class="direction"><img src="img/up.png" alt="UP" /></div>
                    <div class="slot slot_1" @mousedown="dropCard(1)">
                        <div class="card" v-for="(card, index) in game.slot(1).cards" v-bind:style="{ transform: 'rotate(' + card.rotation + 'deg)' }">
                            <div class="flipper">
                                <div class="front">
                                    <div class="top-left" v-text="card.value"></div>
                                    <div class="center" v-text="card.value"></div>
                                    <div class="bottom-right" v-text="card.value"></div>
                                </div>
                                <div class="back"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slot-container">
                    <div class="direction"><img src="img/down.png" alt="UP" /></div>
                    <div class="slot slot_2" @mousedown="dropCard(2)">
                        <div class="card" v-for="(card, index) in game.slot(2).cards" v-bind:style="{ transform: 'rotate(' + card.rotation + 'deg)' }">
                            <div class="flipper">
                                <div class="front">
                                    <div class="top-left" v-text="card.value"></div>
                                    <div class="center" v-text="card.value"></div>
                                    <div class="bottom-right" v-text="card.value"></div>
                                </div>
                                <div class="back"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slot-container">
                    <div class="direction"><img src="img/down.png" alt="UP" /></div>
                    <div class="slot slot_3" @mousedown="dropCard(3)">
                        <div class="card" v-for="(card, index) in game.slot(3).cards" v-bind:style="{ transform: 'rotate(' + card.rotation + 'deg)' }">
                            <div class="flipper">
                                <div class="front">
                                    <div class="top-left" v-text="card.value"></div>
                                    <div class="center" v-text="card.value"></div>
                                    <div class="bottom-right" v-text="card.value"></div>
                                </div>
                                <div class="back"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr />

            <div class="hand">
                <div class="slot" v-for="(card, index) in game.hand.cards">
                    <transition name="card-switch" appear>
                        <div class="card" @mousedown="toggleCard($event.target, index)" :key="card.value" v-bind:style="{ transform: 'rotate(' + card.rotation + 'deg)' }" v-show="!card.isFake()">
                            <div class="flipper">
                                <div class="front">
                                    <div class="top-left" v-text="card.value"></div>
                                    <div class="center" v-text="card.value"></div>
                                    <div class="bottom-right" v-text="card.value"></div>
                                </div>
                                <div class="back"></div>
                            </div>
                        </div>
                    </transition>
                </div>
                <div class="slot stack">
                    <div class="card" v-for="card in game.stack.cards">
                        <div class="flipper">
                            <div class="front">
                                <div class="top-left" v-text="card.value"></div>
                                <div class="center" v-text="card.value"></div>
                                <div class="bottom-right" v-text="card.value"></div>
                            </div>
                            <div class="back"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="app.js"></script>
</body>
</html>
