<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1 maximum-scale=1 user-scalable=0 target-densitydpi=device-dpi minimal-ui" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>Up & Down</title>
    <link href="src/app.css" rel="stylesheet" />
</head>
<body>
    <div id="game">
        <div>Score: <span v-text="game.score()"></span></div>

        <div class="slots">
            <div class="slot slot_0" @mousedown="dropCard(0)">
                <div class="headline">1 => 99 UP</div>
                <div class="card" v-for="(card, index) in game.slot(0).cards" v-bind:style="{ transform: 'rotate(' + card.rotation + 'deg)' }">
                    <div class="top-left" v-text="card.value"></div>
                    <div class="center" v-text="card.value"></div>
                    <div class="bottom-right" v-text="card.value"></div>
                </div>
            </div>
            <div class="slot slot_1" @mousedown="dropCard(1)">
                <div class="headline">1 => 99 UP</div>
                <div class="card" v-for="(card, index) in game.slot(1).cards" v-bind:style="{ transform: 'rotate(' + card.rotation + 'deg)' }">
                    <div class="top-left" v-text="card.value"></div>
                    <div class="center" v-text="card.value"></div>
                    <div class="bottom-right" v-text="card.value"></div>
                </div>
            </div>
            <div class="slot slot_2" @mousedown="dropCard(2)">
                <div class="headline">100 => 2 DOWN</div>
                <div class="card" v-for="(card, index) in game.slot(2).cards" v-bind:style="{ transform: 'rotate(' + card.rotation + 'deg)' }">
                    <div class="top-left" v-text="card.value"></div>
                    <div class="center" v-text="card.value"></div>
                    <div class="bottom-right" v-text="card.value"></div>
                </div>
            </div>
            <div class="slot slot_3" @mousedown="dropCard(3)">
                <div class="headline">100 => 2 DOWN</div>
                <div class="card" v-for="(card, index) in game.slot(3).cards" v-bind:style="{ transform: 'rotate(' + card.rotation + 'deg)' }">
                    <div class="top-left" v-text="card.value"></div>
                    <div class="center" v-text="card.value"></div>
                    <div class="bottom-right" v-text="card.value"></div>
                </div>
            </div>
        </div>

        <div class="hand">
            <div class="slot" v-for="(card, index) in game.hand.cards">
                <div class="card" @mousedown="toggleCard($event.target, index)" :key="index" v-bind:style="{ transform: 'rotate(' + card.rotation + 'deg)' }">
                    <div class="top-left" v-text="card.value"></div>
                    <div class="center" v-text="card.value"></div>
                    <div class="bottom-right" v-text="card.value"></div>
                </div>
            </div>
            <div class="slot">
                <div class="card" v-for="card in game.stack.cards"></div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="app.js"></script>
</body>
</html>
