.hand, .slots {
    display: flex;
    flex-wrap: wrap;
}
.card {
    width: 80%;
    height: 80%;
    border: 1px solid #999;
    margin: 5px;
    border-radius: 10px;
    background: white;
    position: relative;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 42px;
}
.card.moving {
    border-color: #933;
}
.slot {
    border: 1px solid #999;
    width: calc(25% - 12px);
    padding-bottom: calc(37.5% - 18px);
    position: relative;
    margin: 5px;
}
.slot h3 {
    text-align: center;
}
.hand .slot {
    border: none;
}
.slot .card {
    position: absolute;
    top: 10%;
    left: 10%;
}
